* {
  margin: 0;
}



body {
  height: 100%;
  padding-top: 4rem;
}


 .App {
  min-height: 100%;
} 


@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  src: local("Quicksand"), url(fonts/Quicksand\ Medium.woff2) format("woff2");
}

.Quicksand {
  font-family: "Quickand";
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
