* {
  margin: 0;
}

/* html {
  height: 100%;
}

body {
  height: 100%;
} */

/* #root {
  height: 100vh;
} */

/* body {
  height: 100vh;
} */

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  src: local("Quicksand"), url(fonts/Quicksand\ Medium.woff2) format("woff2");
}

.Quicksand {
  font-family: "Quickand";
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
